
.heading{font-size: 1.75em;
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;}
	
	div {margin:15px;}
	
.dclass {position: relative;
		background-color:#FF6347;
		float: left;
		margin-right: 15px;
		border: 1px solid black;
}

.dclass2 
{position:relative;
background-color: #FFA500;
float:left;
margin-right:15px;
border: 1px solid black;
}

.dclass3 {position: relative;
		background-color:#FFD700;
		float: left;
		margin-right: 15px;
	border: 1px solid black;
}
* {box-sizing:border-box;}
.p1
{
float: left;
padding: 15px;
}
section{font-size: 1.25em;
	position: relative;
	margin:0;
float:right;
background-color: #FFA500;
	border:1px solid black;
}

.s1 {background-color: #CF5300;	border:1px solid black;}

@media (min-width: 992px)
{
.dclass, .dclass2, .dclass3 {
	width:30%;}
}

@media (min-width: 768px) and (max-width: 991px)
{.dclass, .dclass2 {width: 41%;}
.dclass3 {width: 85%;}	
}

@media (max-width: 767px)
	{
	.dclass, .dclass2, .dclass3 {width: 80%;}
	}

